@charset "UTF-8";

 body{
    background-color: rgba(57, 81, 219, 0.877);
 }

 header{
    color: white;
    text-align: center;
 }

 section{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
 }

 section > div{
    text-align: center;
    padding: 10px;
 }

 #msg{
    font-size: 1.1em;
 }

 footer {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 1.1em;
 }